<%- include('_layout/header.ejs') %> <%- include('_layout/nav.ejs') %>

<div class="row">
  <div class="col-md-12">
    <div class="content pt-3">
      <div class="container-fluid">
        <div class="alert alert-dark">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <b
            >
            <span style="color: yellow; font-size: 25px">Version 1.0</span></b
          >
          <ul>
            <li>01/08/2023: Tuỳ chỉnh ẩn sản phẩm khi hết tài khoản.</li>
            <li>
              31/07/2023: Update tuỳ chỉnh giao dịch ảo tại <b>Cài Đặt</b> &
              <b>Giao dịch ảo</b>.
            </li>

            <li>10/07/2023: Cập nhật chức năng kết nối API</li>
          </ul>
          <i
            >Hệ thống tự động cập nhật phiên bản mới nhất khi vào trang Quản
            Trị.</i
          >
        </div>
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><%= totalOrder %></h3>
                <p>Đơn Hàng</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/admin/listOrder" class="small-box-footer"
                >Xem thêm <i class="fas fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><%= totalUsers %></h3>
                <p>Tổng Thành Viên</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/admin/listUsers" class="small-box-footer"
                >Xem thêm <i class="fas fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3><%= totalProduct %></h3>
                <p>Tổng Sản Phẩm</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer"
                >Xem thêm <i class="fas fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><%= totalPrice %></h3>
                <p>Doanh Thu Đơn Hàng</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer"
                >Xem thêm <i class="fas fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-history mr-1"></i>
                  500 GIAO DỊCH GẦN ĐÂY (<i>Ẩn dòng tiền của Admin</i>)
                </h3>
                <div class="card-tools">
                  <button
                    type="button"
                    class="btn bg-success btn-sm"
                    data-card-widget="collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <button
                    type="button"
                    class="btn bg-warning btn-sm"
                    data-card-widget="maximize"
                  >
                    <i class="fas fa-expand"></i>
                  </button>
                  <button
                    type="button"
                    class="btn bg-danger btn-sm"
                    data-card-widget="remove"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive p-0">
                  <table
                    id="datatable1"
                    class="table table-bordered table-striped table-hover"
                  >
                    <thead>
                      <tr>
                        <th width="5%">#</th>
                        <th>Username</th>
                        <th>Số tiền trước</th>
                        <th>Số tiền thay đổi</th>
                        <th>Số tiền hiện tại</th>
                        <th>Thời gian</th>
                        <th>Nội dung</th>
                      </tr>
                    </thead>
                    <!-- <tbody>
                                    <?php $i = 0;
                                    foreach ($LQH->get_list("SELECT * FROM `log_balance` WHERE `id` > 0 ORDER BY id DESC LIMIT 500 ") as $row) { ?>
                                        <tr>
                                            <td class="text-center"><?= $i++; ?></td>
                                            <td class="text-center"><a href="<?= base_url('admin/ListUsers/Edit/' . $row['user_id']); ?>"><?= getUser($row['user_id'], 'username'); ?></a>
                                            </td>
                                            <td class="text-center"><b style="color: green;"><?= format_cash($row['money_before']); ?></b>
                                            </td>
                                            <td class="text-center"><b style="color:red;"><?= format_cash($row['money_change']); ?></b>
                                            </td>
                                            <td class="text-center"><b style="color: blue;"><?= format_cash($row['money_after']); ?></b>
                                            </td>
                                            <td class="text-center"><i><?= $row['time']; ?></i></td>
                                            <td><i><?= $row['content']; ?></i></td>
                                        </tr>
                                    <?php } ?>
                                </tbody> -->
                  </table>
                </div>
              </div>
            </div>
          </section>
          <section class="col-lg-12 connectedSortable">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-history mr-1"></i>
                  500 NHẬT KÝ HOẠT ĐỘNG GẦN ĐÂY (<i>Ẩn nhật ký của Admin</i>)
                </h3>
                <div class="card-tools">
                  <button
                    type="button"
                    class="btn bg-success btn-sm"
                    data-card-widget="collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <button
                    type="button"
                    class="btn bg-warning btn-sm"
                    data-card-widget="maximize"
                  >
                    <i class="fas fa-expand"></i>
                  </button>
                  <button
                    type="button"
                    class="btn bg-danger btn-sm"
                    data-card-widget="remove"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive p-0">
                  <table
                    id="datatable2"
                    class="table table-bordered table-striped table-hover"
                  >
                    <thead>
                      <tr>
                        <th width="5%">#</th>
                        <th>Username</th>
                        <th width="40%">Action</th>
                        <th>Time</th>
                        <th>Ip</th>
                        <th width="30%">Device</th>
                      </tr>
                    </thead>
                    <!-- <tbody>
                                    <?php $i = 0;
                                    foreach ($LQH->get_list("SELECT * FROM `logs` WHERE `id` > 0 ORDER BY id DESC LIMIT 500 ") as $row) { ?>
                                        <tr>
                                            <td><?= $i++; ?></td>
                                            <td class="text-center"><a href="<?= base_url('admin/ListUsers/Edit/' . $row['user_id']); ?>"><?= getUser($row['user_id'], 'username'); ?></a>
                                            </td>
                                            <td><?= $row['action']; ?></td>
                                            <td><?= $row['create_date']; ?></td>
                                            <td><?= $row['ip']; ?></td>
                                            <td><?= $row['device']; ?></td>
                                        </tr>
                                    <?php } ?>
                                </tbody> -->
                  </table>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#datatable1").DataTable({
      responsive: false,
      autoWidth: false,
    });
  });
</script>
<script>
  $(function () {
    $("#datatable2").DataTable({
      responsive: false,
      autoWidth: false,
    });
  });
</script>
<%- include('_layout/footer.ejs') %>
