<%- include('_layout/header.ejs') %> <%- include('_layout/nav.ejs') %>

<div class="row mb-2">
  <div class="col-sm-6"></div>
  <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">NHÓM THÀNH VIÊN</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="table-responsive">
          <table id="datatable1" class="table table-bordered table-striped">
            <thead>
              <tr class="text-center">
                <th style="width: 5px">STT</th>
                <th>FULL NAME</th>
                <th>EMAIL</th>
                <th>VAI TRÒ</th>
                <th>NGÀY THAM GIA</th>
                <th>THAO TÁC</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < listUsers.length; i++) { %>
              <tr>
                <td class="text-center"><%= i + 1  %></td>
                <td class="text-center">
                  <%= listUsers[i].fullname %>
                </td>
                <td class="text-center" style="text-transform: lowercase">
                  <%= listUsers[i].email %>
                </td>
                <td class="text-center" style="text-transform: lowercase">
                  <%= listUsers[i].level %>
                </td>
                <td class="text-center" width="200" style="text-transform: lowercase">
                  <%= new Date(listUsers[i].createdAt).toLocaleString() %>
                </td>
              
              <td>
                <button class="btn btn-info mr-2 text-center" data-toggle="modal" data-target="#huydev<%= listUsers[i]._id %>" type="submit" style="color: #fff" >
                  Edit
                </button>
              <div class="modal fade" id="huydev<%= listUsers[i]._id %>">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">EDIT USER ID [ <%= listUsers[i]._id %> ]</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form action="/admin/updateUser/<%= listUsers[i]._id %>" method="POST">
                            <div class="mb-3">
                                <label for="edittitle" class="form-label">LEVEL</label>
                                <select class="custom-select" name="level">
                                  <option <%= listUsers[i].level === 'admin' ? 'selected' : '' %> value="admin">Admin</option>
                                  <option <%= listUsers[i].level === 'member' ? 'selected' : '' %> value="member">Member</option>
                                </select>
                                
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                  
                  </div>
                </div>
                <!-- /.modal-dialog -->
              </div>
              </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">VUI LÒNG THAO TÁC CẨN THẬN</div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row huydeV -->
<script>
  $(function () {
    $("#datatable1").DataTable();
  });
</script>
<%- include('_layout/footer.ejs') %>
