<%- include('layout/header.ejs') %>  <%- include('layout/navbar.ejs', {categories: categories}) %>
<% function formatNumber(num) {
    if (num == null) {
      return "0"; 
     } 
     return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"); } 
     %>
<section class="breadcrumb-section">
  <h2 class="sr-only">Site Breadcrumb</h2>
  <div class="container">
    <div class="breadcrumb-contents">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Cart</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<!-- Cart Page Start -->
<main class="cart-page-main-block inner-page-sec-padding-bottom">
  <div class="cart_area cart-area-padding">
    <div class="container">
      <div class="page-section-title">
        <h1>Shopping Cart</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <div>
            <!-- Cart Table -->
            <div class="cart-table table-responsive mb--40">
              <table class="table">
                <!-- Head Row -->
                <thead>
                  <tr>
                    <th class="pro-remove">#</th>
                    <th class="pro-thumbnail">Image</th>
                    <th class="pro-title">Product</th>
                    <th class="pro-price">Price</th>
                    <th class="pro-quantity">Quantity</th>
                    <th class="pro-subtotal">Total</th>
                    <th class="pro-subtotal">Update</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Product Row -->
                  <% if (products.length === 0) { %>
                    <tr>
                      <td colspan="8" class="actions">
                        <p class="text-center text-danger font-weight-bold">Your cart is empty.</p>
                      </td>
                    </tr>
                  <% } else { %>
                      <% products.forEach((product) => { %>
                        <tr>
                            <td class="pro-remove">
                                <input type="hidden" id="deleteProduct_<%= product.item._id %>" value="<%= product.item._id %>">
                              <button id="deleteCart_<%= product.item._id %>" type="submit"><i class="far fa-trash-alt"></i></button>
                              <script>
                                $("#deleteCart_<%= product.item._id %>").on("click",function() {
                                    $.ajax({
                                    type: "POST",   
                                    url: "/deleteCart",
                                    dataType: 'JSON',
                                    data: {
                                        type: "deleteCart",
                                        deleteIDProduct: $("#deleteProduct_<%= product.item._id %>").val(),
                                    },
                                    success: function(res) {
                                        Swal.fire({
                                                icon: res.status === true ? "success" : "error",
                                                title: 'Thông Báo',
                                                text: res.message
                                                }).then((result) => {
                                                if (res.status === true) {
                                                    window.location.href = "/cart";
                                                } else {
                                                    
                                                }
                                            });
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                });
                            })
                            </script>
                            </td>
                            <td class="pro-thumbnail">
                              <a href="#"
                                ><img
                                  src="<%= product.item.image %>"
                                  alt="<%= product.item.title %>"
                              /></a>
                            </td>
                            <td class="pro-title"><a href="#"><%= product.item.title %></a></td>
                            <td class="pro-price"><span><%= formatNumber(product.item.price) %></span></td>
                            <td class="pro-quantity">
                              <div class="pro-qty">
                                <div class="count-input-block">
                                    <input type="hidden" id="idProduct_<%= product.item._id %>" value="<%= product.item._id %>">
                                  <input
                                    type="number"
                                    id="quantity_<%= product.item._id %>"
                                    class="form-control text-center"
                                    value="<%= product.quantity %>"
                                  />
                                </div>
                              </div>
                            </td>
                            <td class="pro-subtotal"><span><%= formatNumber(product.item.price * product.quantity) %></span></td>
                            <td><button
                                type="submit"
                                class="btn btn-outlined"
                                id="updateCart_<%= product.item._id %>">Update Cart</button></td>
                          </tr>
                          <script>
                            $("#updateCart_<%= product.item._id %>").on("click",function() {
                                $.ajax({
                                type: "POST",   
                                url: "/updateCart",
                                dataType: 'JSON',
                                data: {
                                    type: "updateCart",
                                    quantity: $("#quantity_<%= product.item._id %>").val(),
                                    idProduct: $("#idProduct_<%= product.item._id %>").val(),
                                },
                                success: function(res) {
                                    Swal.fire({
                                            icon: res.status === true ? "success" : "error",
                                            title: 'Thông Báo',
                                            text: res.message
                                            }).then((result) => {
                                          if (res.status === true) {
                                              window.location.href = "/cart";
                                          } else {
                                              
                                          }
                                      });
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                        })
                        </script>
                      <% }); %>
                  <% } %>
                  <!-- Discount Row  -->
                 
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-section-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 mb--30 mb-lg--0"></div>
        <!-- Cart Summary -->
        <div class="col-lg-6 col-12 d-flex">
          <div class="cart-summary">
            <div class="cart-summary-wrap">
              <h4><span>Cart Summary</span></h4>
              <p>Sub Total <span class="text-primary"><%= formatNumber(totalPrice) %> VNĐ</span></p>
            </div>
            <div class="cart-summary-button">
              <a href="/checkout" class="checkout-btn c-btn btn--primary"
                >Checkout</a
              >
              <button class="update-btn c-btn btn-outlined">Update Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Cart Page End -->
<%- include('layout/footer.ejs') %>
