<%- include('layout/header.ejs') %> <%- include('layout/navbar.ejs', {categories: categories}) %>
<% function formatNumber(num) {
    if (num == null) {
      return "0"; 
     } 
     return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"); } 
     %>
<section class="breadcrumb-section">
  <h2 class="sr-only">Site Breadcrumb</h2>
  <div class="container">
    <div class="breadcrumb-contents">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Product Details</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<style>
  .button-ouline {
    border: none;
    outline: none;
  }
</style>
<main class="inner-page-sec-padding-bottom">
  <div class="container">
    <div class="row  mb--60">
      <div class="col-lg-5 mb--30">
        <!-- Product Details Slider Big Image-->
        <div class="product-details-slider sb-slick-slider arrow-type-two">
          <div class="single-slide">
             <% if (detailProducts && detailProducts.image) { %>
      <img src="<%= detailProducts.image %>" alt="">
    <% } else { %>
      <p>No image available</p>
    <% } %>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="product-details-info pl-lg--30 ">
          <p class="tag-block"><a href="/detail/<%= detailProducts.slugProduct %>"><%= detailProducts.author%></p>
          <h3 class="product-title"><%= detailProducts.title %></h3>

          <div class="price-block">
            <span class="price-new"><%= formatNumber(detailProducts.price) %></span>
          </div>
          <div class="rating-widget">
            <div class="rating-block">
              <% for (let i = 1; i <= 5; i++) { %>
              <span class="fas fa-star <%= detailProducts.average_score >= i ? 'star_on' : '' %>"></span>
              <% } %>
            </div>
            <div class="review-widget">
              <a href="">(<%= detailProducts.review_count %> Reviews)</a> <span>|</span>
              <a href="">Write a review</a>
            </div>
          </div>
          <article class="product-details-article">
            <h4 class="sr-only">Product Summery</h4>
            <p><%= detailProducts.describeProduct %></p>
          </article>
          <div class="add-to-cart-row">
            <div class="count-input-block">
              <span class="widget-label">Quantity</span>
              <input type="number" id="quantity" class="form-control text-center" value="1">
            </div>
            <div class="add-cart-btn">
              <button type="submit" id="addToCart" class="btn btn-outlined--primary"><span class="plus-icon">+</span>Add to
                Cart</button>
            </div>
          </div>
          <div class="compare-wishlist-row">
            <a href="" class="add-link"><i class="fas fa-heart"></i>Add to Wish List</a>
            <a href="" class="add-link"><i class="fas fa-random"></i>Add to Compare</a>
          </div>
        </div>
      </div>
    </div>
    <div class="sb-custom-tab review-tab section-padding">
      <ul class="nav nav-tabs nav-style-2" id="myTab2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
            DESCRIPTION
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="true">
            REVIEWS
          </a>
        </li>
      </ul>
      <div class="tab-content space-db--20" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
          <article class="review-article">
            <h1 class="sr-only">Tab Article</h1>
            <p><%- detailProducts.descriptionProduct %></p>
          </article>
        </div>
        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
          <div class="review-wrapper">
            <h2 class="title-lg mb--20" style="text-transform: uppercase;">REVIEW FOR <%= detailProducts.title %></h2>
            <!-- comment -->
            <% comments.forEach(function(comment) { %>
            <div class="review-comment mb--20">
              <div class="avatar">
                <img src="https://i.imgur.com/bbnrc1T.png" alt="">
              </div>
              <div class="text">
                <div class="rating-block mb--15">
                  <% for (let i = 1; i <= 5; i++) { %>
                  <span class="fa-regular fa-star <%= comment.rating >= i ? 'star_on' : '' %>"></span>
                  <% } %>
                </div>
                <h6 class="author"><%= comment.email %> – <span class="font-weight-400"><%= new Date(comment.createdAt).toLocaleString() %></span>
                </h6>
                <input type="hidden" id="idComment_<%= comment._id %>" value="<%= comment._id %>">
                <input class="button-ouline" id="editlistcomment_<%= comment._id %>" name="editlistcomment" value="<%= comment.comment %>" />
                <div class="d-flex gap-2">
                  <% if (locals.email == comment.email) { %>
                    <button id="editComment_<%= comment._id %>" type="submit" class=" text-info font-weight-400">Edit</button> |
                    <button id="deleteComment_<%= comment._id %>" class="text-danger font-weight-400">Delete</button>
                  <% } else { %>

                    <% } %>
                </div>
              </div>

            </div>
            <!-- edit comment -->
            <script>
              $(document).on("click", "#editComment_<%= comment._id %>", function() {
                $("#editlistcomment_<%= comment._id %>").removeClass('button-ouline');
                $(this).attr('id', 'updateComment_<%= comment._id %>').text('Update');
              });

              // update huy nè

              $(document).on("click", "#updateComment_<%= comment._id %>", function() {
                $.ajax({
                  type: "POST",
                  dataType: "JSON",
                  url: "/updateComment",
                  data: {
                    type: 'updateComment',
                    idEditComment: $("#idComment_<%= comment._id %>").val(),
                    editlistcomment: $("#editlistcomment_<%= comment._id %>").val(),
                  },
                  success: function(res) {
                    Swal.fire({
                      icon: res.status === true ? "success" : "error",
                      title: 'Thông Báo',
                      text: res.message
                    }).then((result) => {
                      if (res.status === true) {
                        window.location.href = "/detail/<%= detailProducts.slugProduct %>"
                      } else {
                        // huydev
                      }
                    });
                  },
                  error: function(xhr, status, error) {
                    console.error('edit lỗi',error);
                  },
                });
              });

              // delete huy nè

              $(document).on("click", "#deleteComment_<%= comment._id %>", function() {
                $.ajax({
                  type: "POST",
                  dataType: "JSON",
                  url: "/deleteComment",
                  data: {
                    type: 'deleteComment',
                    idDeleteComment: $("#idComment_<%= comment._id %>").val(),
                  },
                  success: function(res) {
                    Swal.fire({
                      icon: res.status === true ? "success" : "error",
                      title: 'Thông Báo',
                      text: res.message
                    }).then((result) => {
                      if (res.status === true) {
                        window.location.href = "/detail/<%= detailProducts.slugProduct %>"
                      } else {
                        // huydev
                      }
                    });
                  },
                  error: function(xhr, status, error) {
                    console.error('delete lỗi',error);
                  },
                });
              });
            </script>
            <% }) %>
            <!-- end comment -->
            <h2 class="title-lg mb--20 pt--15">ADD A REVIEW</h2>
            <div class="rating-row pt-2">
              <p class="d-block">Your Rating</p>
              <span class="rating-widget-block">
                <input type="radio" name="star" value="5" id="star_5">
                <label for="star_5"></label>
                <input type="radio" name="star" value="4" id="star_4">
                <label for="star_4"></label>
                <input type="radio" name="star" value="3" id="star_3">
                <label for="star_3"></label>
                <input type="radio" name="star" value="2" id="star_2">
                <label for="star_2"></label>
                <input type="radio" name="star" value="1" id="star_1">
                <label for="star_1"></label>
              </span>

              <div class="mt--15 site-form ">
                <div class="row">
                  <div class="col-12">
                    <input type="hidden" name="slugProduct" value="<%= detailProducts.slugProduct %>" id="slugProduct">
                    <div class="form-group">
                      <label for="message">Comment</label>
                      <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="submit-btn">
                      <button type="submit" id="addComment" class="btn btn-black">Post Comment</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
RELATED PRODUCTS BOOKS
===================================== -->
  <section class="">
    <div class="container">
      <div class="section-title section-title--bordered">
        <h2>RELATED PRODUCTS</h2>
      </div>
      <div class="product-slider sb-slick-slider slider-border-single-row" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 4,
        "dots":true
    }' data-slick-responsive='[
        {"breakpoint":1200, "settings": {"slidesToShow": 4} },
        {"breakpoint":992, "settings": {"slidesToShow": 3} },
        {"breakpoint":768, "settings": {"slidesToShow": 2} },
        {"breakpoint":480, "settings": {"slidesToShow": 1} }
    ]'>
        <div class="single-slide">
          <div class="product-card">
            <div class="product-header">
              <a href="" class="author">
                Lpple
              </a>
              <h3><a href="product-details.html">Revolutionize Your BOOK With</a></h3>
            </div>
            <div class="product-card--body">
              <div class="card-image">
                <img src="image/products/product-10.jpg" alt="">
                <div class="hover-contents">
                  <a href="product-details.html" class="hover-image">
                    <img src="image/products/product-1.jpg" alt="">
                  </a>
                  <div class="hover-btns">
                    <a href="cart.html" class="single-btn">
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                    <a href="wishlist.html" class="single-btn">
                      <i class="fas fa-heart"></i>
                    </a>
                    <a href="compare.html" class="single-btn">
                      <i class="fas fa-random"></i>
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="price-block">
                <span class="price">£51.20</span>
                <del class="price-old">£51.20</del>
                <span class="price-discount">20%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="single-slide">
          <div class="product-card">
            <div class="product-header">
              <a href="" class="author">
                Jpple
              </a>
              <h3><a href="product-details.html">Turn Your BOOK Into High Machine</a>
              </h3>
            </div>
            <div class="product-card--body">
              <div class="card-image">
                <img src="image/products/product-2.jpg" alt="">
                <div class="hover-contents">
                  <a href="product-details.html" class="hover-image">
                    <img src="image/products/product-1.jpg" alt="">
                  </a>
                  <div class="hover-btns">
                    <a href="cart.html" class="single-btn">
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                    <a href="wishlist.html" class="single-btn">
                      <i class="fas fa-heart"></i>
                    </a>
                    <a href="compare.html" class="single-btn">
                      <i class="fas fa-random"></i>
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="price-block">
                <span class="price">£51.20</span>
                <del class="price-old">£51.20</del>
                <span class="price-discount">20%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="single-slide">
          <div class="product-card">
            <div class="product-header">
              <a href="" class="author">
                Wpple
              </a>
              <h3><a href="product-details.html">3 Ways Create Better BOOK With</a></h3>
            </div>
            <div class="product-card--body">
              <div class="card-image">
                <img src="image/products/product-3.jpg" alt="">
                <div class="hover-contents">
                  <a href="product-details.html" class="hover-image">
                    <img src="image/products/product-2.jpg" alt="">
                  </a>
                  <div class="hover-btns">
                    <a href="cart.html" class="single-btn">
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                    <a href="wishlist.html" class="single-btn">
                      <i class="fas fa-heart"></i>
                    </a>
                    <a href="compare.html" class="single-btn">
                      <i class="fas fa-random"></i>
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="price-block">
                <span class="price">£51.20</span>
                <del class="price-old">£51.20</del>
                <span class="price-discount">20%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="single-slide">
          <div class="product-card">
            <div class="product-header">
              <a href="" class="author">
                Epple
              </a>
              <h3><a href="product-details.html">What You Can Learn From Bill Gates</a>
              </h3>
            </div>
            <div class="product-card--body">
              <div class="card-image">
                <img src="image/products/product-5.jpg" alt="">
                <div class="hover-contents">
                  <a href="product-details.html" class="hover-image">
                    <img src="image/products/product-4.jpg" alt="">
                  </a>
                  <div class="hover-btns">
                    <a href="cart.html" class="single-btn">
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                    <a href="wishlist.html" class="single-btn">
                      <i class="fas fa-heart"></i>
                    </a>
                    <a href="compare.html" class="single-btn">
                      <i class="fas fa-random"></i>
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="price-block">
                <span class="price">£51.20</span>
                <del class="price-old">£51.20</del>
                <span class="price-discount">20%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="single-slide">
          <div class="product-card">
            <div class="product-header">
              <a href="" class="author">
                Hpple
              </a>
              <h3><a href="product-details.html">a Half Very Simple Things You To</a></h3>
            </div>
            <div class="product-card--body">
              <div class="card-image">
                <img src="image/products/product-6.jpg" alt="">
                <div class="hover-contents">
                  <a href="product-details.html" class="hover-image">
                    <img src="image/products/product-4.jpg" alt="">
                  </a>
                  <div class="hover-btns">
                    <a href="cart.html" class="single-btn">
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                    <a href="wishlist.html" class="single-btn">
                      <i class="fas fa-heart"></i>
                    </a>
                    <a href="compare.html" class="single-btn">
                      <i class="fas fa-random"></i>
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="price-block">
                <span class="price">£51.20</span>
                <del class="price-old">£51.20</del>
                <span class="price-discount">20%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade modal-quick-view" id="quickModal" tabindex="-1" role="dialog" aria-labelledby="quickModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="product-details-modal">
          <div class="row">
            <div class="col-lg-5">
              <!-- Product Details Slider Big Image-->
              <div class="product-details-slider sb-slick-slider arrow-type-two" data-slick-setting='{
                        "slidesToShow": 1,
                        "arrows": false,
                        "fade": true,
                        "draggable": false,
                        "swipe": false,
                        "asNavFor": ".product-slider-nav"
                        }'>
                <div class="single-slide">
                  <img src="image/products/product-details-1.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-2.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-3.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-4.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-5.jpg" alt="">
                </div>
              </div>
              <!-- Product Details Slider Nav -->
              <div class="mt--30 product-slider-nav sb-slick-slider arrow-type-two" data-slick-setting='{
"infinite":true,
  "autoplay": true,
  "autoplaySpeed": 8000,
  "slidesToShow": 4,
  "arrows": true,
  "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
  "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"},
  "asNavFor": ".product-details-slider",
  "focusOnSelect": true
  }'>
                <div class="single-slide">
                  <img src="image/products/product-details-1.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-2.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-3.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-4.jpg" alt="">
                </div>
                <div class="single-slide">
                  <img src="image/products/product-details-5.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-7 mt--30 mt-lg--30">
              <div class="product-details-info pl-lg--30 ">
                <p class="tag-block">Tags: <a href="#">Movado</a>, <a href="#">Omega</a></p>
                <h3 class="product-title">Beats EP Wired On-Ear Headphone-Black</h3>
                <ul class="list-unstyled">
                  <li>Ex Tax: <span class="list-value"> £60.24</span></li>
                  <li>Brands: <a href="#" class="list-value font-weight-bold"> Canon</a></li>
                  <li>Product Code: <span class="list-value"> model1</span></li>
                  <li>Reward Points: <span class="list-value"> 200</span></li>
                  <li>Availability: <span class="list-value"> In Stock</span></li>
                </ul>
                <div class="price-block">
                  <span class="price-new">£73.79</span>
                  <del class="price-old">£91.86</del>
                </div>
                <div class="rating-widget">
                  <div class="rating-block">
                    <span class="fas fa-star star_on"></span>
                    <span class="fas fa-star star_on"></span>
                    <span class="fas fa-star star_on"></span>
                    <span class="fas fa-star star_on"></span>
                    <span class="fas fa-star "></span>
                  </div>
                  <div class="review-widget">
                    <a href="">(1 Reviews)</a> <span>|</span>
                    <a href="">Write a review</a>
                  </div>
                </div>
                <article class="product-details-article">
                  <h4 class="sr-only">Product Summery</h4>
                  <p>Long printed dress with thin adjustable straps. V-neckline and wiring under
                    the Dust with ruffles
                    at the bottom
                    of the
                    dress.</p>
                </article>
                <div class="add-to-cart-row">
                  <div class="count-input-block">
                    <span class="widget-label">Qty</span>
                    <input type="number" class="form-control text-center" value="1">
                  </div>
                  <div class="add-cart-btn">
                    <a href="" class="btn btn-outlined--primary"><span class="plus-icon">+</span>Add to Cart</a>
                  </div>
                </div>
                <div class="compare-wishlist-row">
                  <a href="" class="add-link"><i class="fas fa-heart"></i>Add to Wish List</a>
                  <a href="" class="add-link"><i class="fas fa-random"></i>Add to Compare</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="widget-social-share">
            <span class="widget-label">Share:</span>
            <div class="modal-social-share">
              <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
              <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
              <a href="#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
<script>
  $("#addToCart").on("click", function() {
    $.ajax({
      type: "POST",
      url: "/addToCart",
      dataType: 'JSON',
      data: {
        type: "addToCart",
        quantity: $("#quantity").val(),
        slugProduct: "<%= detailProducts.slugProduct %>"
      },
      success: function(res) {
        Swal.fire({
          icon: res.status === true ? "success" : "error",
          title: 'Thông Báo',
          text: res.message
        }).then((result) => {
          if (res.status === true) {
            window.location.href = '/cart';
          } else {

          }
        });
      },
      error: function(error) {
        console.log(error);
      }
    });
  })
</script>

<script>
  // Gửi Data
  $("#addComment").on("click", function() {
    var rating = $("input[name='star']:checked").val();
    $.ajax({
      type: "POST",
      dataType: "JSON",
      url: "/postComment",
      data: {
        type: 'Comment',
        star: rating,
        slugProduct: $("#slugProduct").val(),
        message: $("#message").val(),
      },
      success: function(res) {
        Swal.fire({
          icon: res.status === true ? "success" : "error",
          title: 'Thông Báo',
          text: res.message
        }).then((result) => {
          if (res.status === true) {
            window.location.href = "/detail/<%= detailProducts.slugProduct %>"
          } else {

          }
        });
      },
      error: function(xhr, status, error) {
        console.error(error);
      },
    });
  });
</script>




<%- include('layout/footer.ejs') %>
