<% function formatNumber(num) { 
      if (num == null) {
        return "0"; 
    } 
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"); 
    } 
%>
<div class="site-header header-2 mb--20 d-none d-lg-block">
  <div class="header-middle pt--10 pb--10">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <a href="/" class="site-brand">
            <img
              src="https://htmldemo.net/pustok/pustok/image/logo.png"
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-5">
          <div class="header-search-block">
            <input type="text" placeholder="Search entire store here" />
            <button>Search</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="main-navigation flex-lg-right">
            <div class="cart-widget">
              <% if (typeof locals !== 'undefined' && locals.email) { %>
              <div class="login-block">
                <a href="/profile" class="font-weight-bold"
                  ><%= locals.email %></a
                ><br />
                <span>or </span><a href="/logout">Logout</a>
              </div>
              <% } else { %>
              <div class="login-block">
                <a href="/login" class="font-weight-bold">Login</a><br />
                <span>or </span><a href="/register">Register</a>
              </div>
              <% } %>

              <div class="cart-block">
                <div class="cart-total">
                  <span class="text-number">
                     <% if(locals.huyitem.length > 0) { %>
                          <%= locals.huyitem.length %>
                      <% } else { %>
                        0
                      <% } %>
                   </span>
                  <span class="text-item"> Shopping Cart </span>
                  <span class="price">
                    <% if(typeof locals !== 'undefined' && locals.huyitem && locals.huyitem.length > 0) { %>
                      <%= formatNumber(locals.totalPrice) %>
                    <% } else { %>
                      <%= formatNumber(locals.totalPrice) %>
                    <% } %>
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </div>
                <div class="cart-dropdown-block">
                  <div class="single-cart-block">
                    <% if (typeof locals !== 'undefined' && locals.huyitem && locals.huyitem.length > 0) { %> 
                      <% locals.huyitem.forEach(function(product) { %>
                    <div class="cart-product">
                      <a href="#" class="image">
                        <img
                          src="<%= product.item.image %>"
                          alt="<%= product.item.title %>"
                        />
                      </a>
                      <div class="content">
                        <h3 class="title">
                          <a href="#"><%= product.item.title %></a>
                        </h3>
                        <p class="price">
                          <span class="qty"><%= product.quantity %> ×</span> <%=
                          formatNumber(product.item.price) %>
                        </p>
                      </div>
                    </div>
                    <% }); %> 
                    <% } else { %>
                      <p class="text-center text-danger font-weight-bold">Your cart is empty.</p>
                    <% } %>
                  </div>
                  <div class="single-cart-block">
                    <div class="btn-block">
                      <a href="/cart" class="btn"
                        >View Cart <i class="fas fa-chevron-right"></i
                      ></a>
                      <a href="/checkout" class="btn btn--primary"
                        >Check Out <i class="fas fa-chevron-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- @include('menu.htm') -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <nav class="category-nav white-nav">
            <div>
              <a href="javascript:void(0)" class="category-trigger"
                ><i class="fa fa-bars"></i>Categories</a
              >
              <ul class="category-menu">
                <% categories.forEach(function(category) { %>
                <li class="cat-item"><a href="/categories/<%= category.categorySlug %>"><%= category.categoryName %></a></li>
                <% }); %>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header-phone color-white">
            <div class="icon">
              <i class="fas fa-headphones-alt"></i>
            </div>
            <div class="text">
              <p>Free Support 24/7</p>
              <p class="font-weight-bold number">0901 961 341</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-navigation flex-lg-right">
            <ul class="main-menu menu-right main-menu--white li-last-0">
              <li class="menu-item has-children">
                <a href="javascript:void(0)">Home </a>
              </li>
              <li class="menu-item has-children">
                <a href="/listOrder">List Order </a>
              </li>
              <li class="menu-item">
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-mobile-menu">
  <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
    <div class="container">
      <div class="row align-items-sm-end align-items-center">
        <div class="col-md-4 col-7">
          <a href="/" class="site-brand">
            <img
              src="https://htmldemo.net/pustok/pustok/image/logo.png"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-5 order-3 order-md-2">
          <nav class="category-nav">
            <div>
              <a href="javascript:void(0)" class="category-trigger"
                ><i class="fa fa-bars"></i>Categories</a
              >
              <ul class="category-menu">
                <li class="cat-item"><a href="#">Education</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-3 col-5 order-md-3 text-right">
          <div class="mobile-header-btns header-top-widget">
            <ul class="header-links">
              <li class="sin-link">
                <a href="/cart" class="cart-link link-icon"
                  ><i class="ion-bag"></i
                ></a>
              </li>
              <li class="sin-link">
                <a
                  href="javascript:"
                  class="link-icon hamburgur-icon off-canvas-btn"
                  ><i class="ion-navicon"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--Off Canvas Navigation Start-->
  <aside class="off-canvas-wrapper">
    <div class="btn-close-off-canvas">
      <i class="ion-android-close"></i>
    </div>
    <div class="off-canvas-inner">
      <!-- search box start -->
      <div class="search-box offcanvas">
        <form>
          <input type="text" placeholder="Search Here" />
          <button class="search-btn">
            <i class="ion-ios-search-strong"></i>
          </button>
        </form>
      </div>
      <!-- search box end -->
      <!-- mobile menu start -->
      <div class="mobile-navigation">
        <!-- mobile menu navigation start -->
        <nav class="off-canvas-nav">
          <ul class="mobile-menu main-mobile-menu">
            <li class="menu-item-has-children">
              <a href="#">Home</a>
            </li>

            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <!-- mobile menu navigation end -->
      </div>
      <!-- mobile menu end -->
      <nav class="off-canvas-nav">
        <ul class="mobile-menu menu-block-2">
          <li class="menu-item-has-children">
            <a href="#">Currency - USD $ <i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li><a href="cart.html">USD $</a></li>
              <li><a href="checkout.html">EUR €</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Lang - Eng<i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li>Eng</li>
              <li>Ban</li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">My Account <i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li><a href="">My Account</a></li>
              <li><a href="">Order History</a></li>
              <li><a href="">Transactions</a></li>
              <li><a href="">Downloads</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="off-canvas-bottom">
        <div class="contact-list mb--10">
          <a href="" class="sin-contact"
            ><i class="fas fa-mobile-alt"></i>(12345) 78790220</a
          >
          <a href="" class="sin-contact"
            ><i class="fas fa-envelope"></i>examle@handart.com</a
          >
        </div>
        <div class="off-canvas-social">
          <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="single-icon"><i class="fas fa-rss"></i></a>
          <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
          <a href="#" class="single-icon"
            ><i class="fab fa-google-plus-g"></i
          ></a>
          <a href="#" class="single-icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </aside>
  <!--Off Canvas Navigation End-->
</div>
<div class="sticky-init fixed-header common-sticky">
  <div class="container d-none d-lg-block">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <a href="/" class="site-brand">
          <img src="https://htmldemo.net/pustok/pustok/image/logo.png" alt="" />
        </a>
      </div>
      <div class="col-lg-8">
        <div class="main-navigation flex-lg-right">
          <ul class="main-menu menu-right">
            <li class="menu-item has-children">
              <a href="javascript:void(0)">Home </a>
            </li>

            <li class="menu-item">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
